* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.visually_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
}

.container {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.site-header {
    background-color: hsla(341, 69%, 70%, 0.3);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
}

.nav-list-item-link {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
    color: #150101;
    opacity: 0.6;
    margin: 0 20px;
    text-decoration: none;
}

.nav-list-item-link-active {
    color: #D23166;
    opacity: 1;
    font-weight: bold;
}

.buy-link {
    font-family: 'Hind Madurai', sans-serif;
    width: 165px;
    height: 50px;
    background-color: #D23166;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #FAFAFA;
    text-decoration: none;
    border-radius: 5px;
}

.inside {
    background-color: hsla(341, 69%, 70%, 0.3);
    padding-top: 50px;
    padding-bottom: 200px;
    margin-bottom: 100px;
    background-image: url('../img/Ellipse18.png');
    background-repeat: no-repeat;
    background-position: calc( 50% + 360px) calc(50% + 130px);
}

.inside-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inside-text {
    width: 665px;
    height: 364px;
}

.inside-text-1 {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #0F0101;
}

.inside-header {
    width: 665px;
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: normal;
    font-size: 57.33px;
    line-height: 120.5%;
    color: #0F0101;
    opacity: 0.9;
    margin-bottom: 35px;
}

.inside-header-span {
    color: #D23166;
}

.inside-text-2 {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #0F0101;
    opacity: 0.6;
    margin-bottom: 50px;
}

.brand-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.brand-item {
    width: 250px;
    height: 200px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.03);
    padding: 30px;
}

.brand-item-header {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

.brand-item-text {
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000;
    opacity: 0.6;
}

.brand-item-active {
    box-shadow: 10px 10px 10px 0 rgba(184, 170, 170, 0.164);
}

.ice-cream-header {
    font-family: 'Hind Madurai';
    font-weight: 600;
    font-size: 44.2px;
    line-height: 61px;
    color: #150101;
    text-align: center;
}

.ice-cream-list1 {
    display: flex;
    width: 888px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.ice-cream-list1-item {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    opacity: 0.6;
    margin-bottom: 50px;
    cursor: pointer;
}

.ice-cream-list1-item-active {
    opacity: 1;
    text-decoration: underline;
    text-decoration-color: #D23166;
}

.ice-cream-list2-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.ice-cream-list2-item-text {
    width: 454px;
}

.ice-cream-list2-item-text-header {
    font-family: 'Hind Madurai';
    font-weight: bold;
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 11px;
}

.ice-cream-list2-item-text {
    font-size: 16px;
    font-family: 'Roboto';
    line-height: 24px;
    color: #000000;
    /* opacity: 0.7; */
    margin-bottom: 30px;
}

.wrapper {
    margin-bottom: 15px;
}

.ice-cream-list2-item-span {
    font-family: 'Hind Madurai';
    font-weight: bold;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
}

.ice-cream-list2-item-del {
    opacity: 0.7;
    display: inline-block;
}

.ice-cream-list2-item:nth-child(2n){
    text-align: right;
}

.ice-cream-list2-item_ {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.wrapp-text-header {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 5px;
}

.wrapp-text-p {
    font-size: 12px;
    line-height: 14px;
    opacity: 0.7;
}

.paragroph {
    margin: 0;
    padding: 15px;
    width: 380px;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.7;
    background-image: url('../img/galochka-right.png'), url('../img/galochka-left.png');
    background-repeat: no-repeat;
    background-position: calc(50% - 180px) calc(50% - 35px), calc(50% + 180px) calc(50% + 35px);
}

.person-img {
    margin-left: 10px;
    margin-right: 10px;
}

.dowloand {
    background-color: hsla(340, 64%, 51%, 0.3);
}

.simple {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 30px;
}

.dowloand-text {
    width: 650px;
}

.dowloand-header {
    font-size: 44.2px;
    line-height: 52px;
    margin-bottom: 20px;
}

.dowloand-paragroph {
    font-size: 18px;
    line-height: 21px;
    color: #0F0101;
    opacity: 0.7;
}

.dowloand-item {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 20px;
}

.dowloand-item-text {
    margin: 0;
    font-size: 22px;
    line-height: 26px;
    text-align: left;
} 

.dowloand-images {
    display: flex;
    align-items: center;
}

.site_form {
    width: 637px;
    margin-left: auto;
    margin-right: auto;
    height: 344px;
}

.form-header {
    font-size: 44px;
    line-height: 52px;
    text-align: center;
}

.ucer_number {
    width: 303px;
    height: 74px;
    border: 1px solid #D23166;
    border-radius: 5px;
    margin-bottom: 30px;
}

.ucer_question {
    width: 303px;
    height: 74px;
    border: 1px solid #D23166;
    border-radius: 5px;
    margin-bottom: 30px;
}

.ucer_text {
    width: 600px;
    height: 74px;
    border: 1px solid #D23166;
    border-radius: 5px;
    margin-bottom: 30px;    
}

.button {
    margin-left: -137px;
    width: 137px;
    height: 74px;
    border-radius: 5px;
    border: none;
    background-color: #D23166;
}

.site-footer {
    background-color: #0A0808;
    color: #fff;
    padding-top: 70px;
    padding-bottom: 100px;
}

.footer-listes {
    display: flex;
    justify-content: space-between;
}

.follower {
    width: 207px;
}

.follower-text {
    font-size: 12px;
    line-height: 17px;
    opacity: 0.7;
    margin-bottom: 25px;
}

.footer-list-1-item {
    opacity: 0.7;
}

.footer-list-1-item-active {
    opacity: 1;
}

.footer-list-2-item {
    opacity: 0.7;
}

.footer-list-2-item-active {
    opacity: 1;
}

.newsletter-header {
    font-size: 16px;
    line-height: 19px;
    margin-top: 0;
}

.email-ucer {
    width: 388px;
    height: 55px;
    border: 1px solid #D23166;
    background-color: transparent;
    border-radius: 5px;
    margin-bottom: 30px;
}

.button-2 {
    width: 125px;
    height: 55px;
    margin-left: -125px;
    background: #D23166;
    border-radius: 5px;
}